Repository gardener/gardener-extension-shoot-oidc-service, pull requests merged in 2022-04, with the labels that each got.

#29 Fix make generate
  Makefile
  hack/check-docforge.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#31 Add a dummy step to include in prow ci
  Makefile
  hack/test-e2e-provider-local.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#35 Fix name of generated tls secret data
  pkg/controller/lifecycle/actuator.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#33 Add e2e tests with provider local
  .gitignore
  Makefile
  hack/test-e2e-provider-local.sh
  hack/tools/bin/.gitkeep
  test/e2e/e2e_suite_test.go
  test/e2e/lifecycle/common.go
  test/e2e/lifecycle/create_enable_delete.go
  test/e2e/lifecycle/create_enable_disable_delete.go
  test/e2e/lifecycle/create_enable_disrupt_reconcile_delete.go
  test/e2e/lifecycle/create_enable_hibernate_delete.go
Labels: area/dev-productivity, area/testing, kind/enhancement, reviewed/lgtm, needs/ok-to-test, size/xl

#37 Move e2e tests to a single package
  test/e2e/common_test.go
  test/e2e/create_enable_delete_test.go
  test/e2e/create_enable_disable_delete_test.go
  test/e2e/create_enable_disrupt_reconcile_delete_test.go
  test/e2e/create_enable_hibernate_delete_test.go
  test/e2e/e2e_suite_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#40 Change g/g version used for e2e tests
  hack/test-e2e-provider-local.sh
Labels: area/dev-productivity, needs/ok-to-test

#38 Update golang and alpine versions
  .test-defs/lifecycle.yaml
  Dockerfile
Labels: needs/ok-to-test
