Repository gardener/gardener-extension-shoot-oidc-service, pull requests merged in 2024-10, with the labels that each got.

#243 Remove CPU and memory limits
  charts/gardener-extension-shoot-oidc-service/templates/vpa.yaml
  charts/gardener-extension-shoot-oidc-service/values.yaml
  example/controller-registration.yaml
  go.mod
  pkg/controller/lifecycle/actuator.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#248 Update dependencies and enable gosec for SAST scans
  .ci/pipeline_definitions
  .gitignore
  Makefile
  go.mod
  go.sum
  hack/sast.sh
  hack/update-codegen.sh
  pkg/constants/constants.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l, ci/broken-pipeline-definition

#252 Fix link to SAST enablement PR
  .ci/pipeline_definitions
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs, ci/broken-pipeline-definition

#251 Change the imageVectorOverwrite value type from string to object
  charts/gardener-extension-shoot-oidc-service/templates/configmap-imagevector-overwrite.yaml
  charts/gardener-extension-shoot-oidc-service/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test, needs/review, size/xs
